// $var: flex;
// $var2: center;

// .claseEjemplo {
//     height: 100px;
//     width: 100px;
// }

// .ejemploExtend {
//     @extend .claseEjemplo;
// }

// @mixin ejemploMixin ($display, $text){
//     display: $display;
//     text-align: $text;
// }

// .ejemploMixin {
//     @include ejemploMixin($var, $var2);
// }
